<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OpenCNCPilot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<userSettings>
		<OpenCNCPilot.Properties.Settings>
   <setting name="SerialPortName" serializeAs="String">
    <value>COM3</value>
   </setting>
   <setting name="SerialPortBaud" serializeAs="String">
    <value>115200</value>
   </setting>
   <setting name="ConnectionType" serializeAs="String">
    <value>Serial</value>
   </setting>
   <setting name="ControllerBufferSize" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="StatusPollInterval" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="ViewportArcSplit" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="EnableCodePreview" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ProbeSafeHeight" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="ProbeMinimumHeight" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ProbeMaxDepth" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="AbortOnProbeFail" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ProbeFeed" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="ArcToLineSegmentLength" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SplitSegmentLength" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="WebServerPort" serializeAs="String">
    <value>8080</value>
   </setting>
   <setting name="JogFeed" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="JogDistance" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="LogTraffic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Macros" serializeAs="String">
    <value>Probe and set Zero:G38.2Z-10F20
G92Z0;</value>
   </setting>
   <setting name="GCodeIncludeSpindle" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GCodeIncludeDwell" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GCodeIncludeMEnd" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="JogFeedCtrl" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="JogDistanceCtrl" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="PauseFileOnHold" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ProbeXAxisWeight" serializeAs="String">
    <value>0.95</value>
   </setting>
   <setting name="ShowStatusLines" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConsoleFadeTime" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="ToolLengthSetterPos" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SettingsSendDelay" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="SettingsUpdateRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TLSUseActualPos" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ManualUseExpressions" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FileExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EditExpanderOpen" serializeAs="String">
    <value />
   </setting>
   <setting name="OverrideExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ProbingExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ManualExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ManualProbingExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MacroExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MachineExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AboutExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DebugExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WindowWidth" serializeAs="String">
    <value>900</value>
   </setting>
   <setting name="WindowHeight" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="BackupHeightMap" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HeightMapOpacity" serializeAs="String">
    <value>0.8</value>
   </setting>
   <setting name="EnableEscapeSoftReset" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IgnoreAdditionalAxes" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GridThickness" serializeAs="String">
    <value>0.1</value>
   </setting>
   <setting name="SerialPortDTR" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ViewPortPos" serializeAs="String">
    <value>50;-150;250;-50;150;-250</value>
   </setting>
  </OpenCNCPilot.Properties.Settings>
	</userSettings>
	<runtime>
		<gcConcurrent enabled="false"/>
	</runtime>
</configuration>
